{:create_user
 {:type        :user
  :description "Create a new user"
  :args
               {:name {:type (non-null String)}}
  :resolve     :mutation/create-user}

 :create_offer
 {:type        :offer
  :description "Create a new offer"
  :args
               {:price       {:type Int}
                :description {:type String}
                :platform    {:type (non-null :platform)}
                :title       {:type (non-null String)}}
  :resolve     :mutation/create-offer}

 :update_offer
 {:type        :offer
  :description "Update the specified offer"
  :args
               {:offer_id    {:type (non-null ID)}
                :price       {:type Int}
                :description {:type String}
                :platform    {:type :platform}
                :title       {:type String}}
  :resolve     :mutation/update-offer}

 :add_offer_comment
 {:type        :comment
  :description "Comment on the specified offer"
  :args
               {:body     {:type (non-null String)}
                :offer_id {:type (non-null ID)}}
  :resolve     :mutation/add-offer-comment}}