{:user
 {:implements [:entity]
  :fields
              {:id         {:type ID}
               :created_at {:type Float}
               :name       {:type String}
               :email      {:type String}
               :phone      {:type String}
               :offers     {:type (list :offer)}
               :requests   {:type (list :request)}
               :comments   {:type (list :comment)}}}
 :offer
 {:implements [:post :entity]
  :fields
              {:id          {:type ID}
               :created_at  {:type Float}
               :price       {:type Int}
               :description {:type String}
               :platform    {:type :platform}
               :title       {:type String}
               :image       {:type String}
               :user        {:type :user}
               :comments    {:type (list :comment)}}}

 :request
 {:implements [:post :entity]
  :fields
              {:id          {:type ID}
               :created_at  {:type Float}
               :description {:type String}
               :platform    {:type :platform}
               :title       {:type String}
               :image       {:type String}
               :user        {:type :user}
               :comments    {:type (list :comment)}}}

 :comment
 {:implements [:entity]
  :fields
              {:id         {:type ID}
               :created_at {:type Float}
               :body       {:type String}
               :user       {:type :user}}}}