{:user
 {:description "Registered member"
  :implements  [:entity]
  :fields
               {:id         {:type ID}
                :created_at {:type Float}
                :name       {:type String}}}
 :offer
 {:implements [:post :entity]
  :fields
              {:id          {:type ID}
               :created_at  {:type Float}
               :price       {:type Int}
               :description {:type String}
               :platform    {:type :platform}
               :title       {:type String}
               :image       {:type String}
               :user        {:type :user}
               :comments    {:type (list :comment)}}}

 :request
 {:implements [:post :entity]
  :fields
              {:id          {:type ID}
               :created_at  {:type Float}
               :description {:type String}
               :platform    {:type :platform}
               :title       {:type String}
               :image       {:type String}
               :user        {:type :user}
               :comments    {:type (list :comment)}}}

 :comment
 {:fields
  {:user {:type :user}
   :body {:type String}}}}