{:user_by_id
 {:type        :User
  :description "Get a user by its ID"
  :args
               {:id {:type ID}}
  :resolve     :query/user-by-id}

 :post_by_id
 {:type    :Post
  :args
           {:id {:type (non-null ID)}}
  :resolve :query/post-by-id}}