{:user
 {:type        :user
  :description "Get a user by its ID"
  :args
               {:id {:type (non-null ID)}}
  :resolve     :query/user}

 :users
 {:type        (list :user)
  :description "Get all the users"
  :resolve     :query/users}

 :offer
 {:type        :offer
  :description "Get an offer by its ID"
  :args
               {:id {:type (non-null ID)}}
  :resolve     :query/offer}}